header > .navbar {
    margin-bottom: 0px;
}

h1 {
    margin: 10px;
}

#menu {
    padding: 10px;
    margin-bottom: 40px;
}

.contenedor {
    margin-bottom: 30px;
}

h2 {
    margin: 0px;
    /*font-size: 24px;*/
}

.titulo {
    margin-bottom: 10px;
}

.contenido {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

.form {
    margin-top: 20px;
}

.form input, .form select, .form textarea {
    margin-bottom: 10px;
}

.texto-grande {
    font-size: 15px;
    font-weight: bold;
}

.euro {
    font-size: 20px;
}

.error-campo {
    margin-top: 10px;
}
